h1{
	font-size:3.5rem;
	font-family:"Copperplate gothic";
}

p{
	background:black;
	color:white;
	font-family:"Black Baron";
	font-size:24px;
	
	
}
body{
	padding:1rem 2rem;
	border-style:double;
	border-color:red blue green yellow;
	background:black;
	color:white;
	border-width:1.5rem;
	